/* ! basic */

:root {
  --title: #2f281e;
  --text: #544837;
  --accent: #ff9900;
  --white: #ffffff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--text);
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

button,
input {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}

button {
  cursor: pointer;
}

/* ! common styles */

.container {
  max-width: 1400px;
  min-width: 320px;
  padding: 0 145px;
  margin: 0 auto;
}

.title {
  font-family: 'Poppins', serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: var(--title);
}

.btn {
  font-family: 'Poppins', serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-accent {
  background-color: var(--accent);
  color: var(--white);
  transition: background-color 300ms;
}

.btn-accent:hover,
.btn-accent:focus,
.btn-accent:active {
  background-color: #173a56;
}

.btn-reverse-accent {
  border-color: #bcd0e5;
  color: #173a56;
  transition: border-color 300ms, color 300ms;
}

.btn-reverse-accent:hover,
.btn-reverse-accent:focus,
.btn-reverse-accent:active {
  border-color: var(--accent);
  color: var(--accent);
}

/* ! header */

.header {
  margin-bottom: 50px;
}

.header__inner {
  height: 78px;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
}

.header .menu {
  margin-right: 50px;
}

.menu {
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
}

.menu__list {
  display: flex;
  gap: 20px;
}

.menu__link {
  transition: color 300ms;
}

.menu__link:hover,
.menu__link:focus,
.menu__link:active {
  color: var(--accent);
}
.header__button-list {
  display: flex;
  gap: 14px;
}
.header__btn.btn-reverse-accent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 102px;
  height: 46px;
}
.header__btn.btn-accent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 46px;
}
