/* ! basic */

:root {
  --title: #2f281e;
  --text: #544837;
  --accent: #ff9900;
  --white: #ffffff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--text);
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

button,
input {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}

button {
  cursor: pointer;
}

/* ! common styles */

.container {
  max-width: 1400px;
  min-width: 300px;
  padding: 0 145px;
  margin: 0 auto;
}

.title {
  font-family: 'Poppins', serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: var(--title);
}

.btn {
  font-family: 'Poppins', serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid transparent;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-accent {
  background-color: var(--accent);
  color: var(--white);
  transition: background-color 300ms;
}

.btn-accent:hover,
.btn-accent:focus,
.btn-accent:active {
  background-color: #173a56;
}

.btn-reverse-accent {
  border-color: #bcd0e5;
  color: #173a56;
  transition: border-color 300ms, color 300ms;
}

.btn-reverse-accent:hover,
.btn-reverse-accent:focus,
.btn-reverse-accent:active {
  border-color: var(--accent);
  color: var(--accent);
}

/* ! HEADER */

.header {
  margin-bottom: 50px;
}

.header__inner {
  height: 78px;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
}

.header .menu {
  margin-right: 50px;
}

.menu {
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
}

.menu__list {
  display: flex;
  gap: 20px;
}

.menu__link {
  transition: color 300ms;
}

.menu__link:hover,
.menu__link:focus,
.menu__link:active {
  color: var(--accent);
}
.header__button-list {
  display: flex;
  gap: 14px;
}
.header__btn.btn-reverse-accent {
  width: 102px;
  height: 46px;
}
.header__btn.btn-accent {
  width: 110px;
  height: 46px;
}

.menu-btn {
  position: relative;
  display: none;
  width: 45px;
  height: 35px;
  margin-right: 20px;
}

.menu-btn::before,
.menu-btn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  background-color: var(--accent);
  transition: transform 300ms;
}

.menu-btn::before {
  top: 0;
}

.menu-btn::after {
  bottom: 0;
}

.menu-btn span {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--accent);
  transition: opacity 300ms;
}

.menu-btn[aria-expanded='true']::before {
  transform: rotate(45deg) translateY(13px) translateX(10px);
}

.menu-btn[aria-expanded='true'] span {
  opacity: 0;
}

.menu-btn[aria-expanded='true']::after {
  transform: rotate(-45deg) translateY(-13px) translateX(10px);
}

/* ! HERO */

.hero {
  margin-bottom: 110px;
}

.hero__inner {
  display: flex;
  align-items: center;
}

.hero__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  margin-bottom: 30px;
}

.hero__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 45px;
}

.hero__btn-link {
  display: flex;
  align-items: center;
  gap: 56px;
}

.hero__btn {
  width: 175px;
  height: 53px;
}

.hero__link {
  position: relative;
  font-weight: 600;
  text-decoration: underline;
  color: var(--accent);
  transition: color 300ms;
}

.hero__link:hover,
.hero__link:focus,
.hero__link:active {
  color: #173a56;
}

.hero__link-svg {
  position: absolute;
  left: -28.5px;
  top: 50%;
  transform: translateY(-50%);
}

.hero__link-svg-fill {
  transition: fill 300ms;
}

.hero__link:hover .hero__link-svg-fill,
.hero__link:focus .hero__link-svg-fill,
.hero__link:active .hero__link-svg-fill {
  fill: #173a56;
}

/* ! ADVANTAGES */

.advantages {
  background: url(../images/advantages-bg.png) no-repeat center / cover;
  margin-bottom: 120px;
  padding-bottom: 90px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages {
    background-image: url(../images/advantages-bg@2x.png);
  }
}

.advantages__title {
  text-align: center;
  width: 540px;
  margin: 0 auto 45px auto;
}

.advantages__list {
  display: flex;
  gap: 45px;
  justify-content: center;
  margin-bottom: 35px;
}

.advantages__item {
  width: 240px;
  flex-shrink: 0;
}

.advantages__item-img {
  margin-bottom: 30px;
}

.advantages__item-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: var(--title);
  margin-bottom: 15px;
}

.advantages__btn {
  width: 175px;
  height: 53px;
  margin: 0 auto;
}

/* ! mobile-menu */

.mobile-menu {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #12121266;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
  transition-delay: 0.3s;
}

.mobile-menu__container {
  position: absolute;
  width: 220px;
  height: 100%;
  background-color: var(--accent);
  top: 0;
  left: 0;
  transform: translate(-100%);
  transition: transform 0.3s ease;
  transition-delay: 0ms;
}

.mobile-menu.is-open {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  transition-delay: 0ms;
}

.mobile-menu.is-open .mobile-menu__container {
  transform: translate(0);
  transition-delay: 0.3s;
}

.mobile-menu__close {
  position: absolute;
  top: 25px;
  right: 25px;
}

.mobile-menu .menu {
  padding: 80px 0 0 20px;
}

.mobile-menu .menu__list {
  flex-direction: column;
}

.mobile-menu .menu__link:hover,
.mobile-menu .menu__link:focus,
.mobile-menu .menu__link:active {
  color: var(--white);
}

/* ! MEDIA */

@media only screen and (max-width: 1400px) {
  .hero__inner {
    flex-direction: column;
  }
  .hero__content {
    text-align: center;
    margin-bottom: 30px;
  }
  .hero__btn-link {
    justify-content: center;
  }
}

@media only screen and (max-width: 1200px) {
  .advantages__list {
    text-align: center;
    width: 525px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
  .advantages__item-img {
    margin: 0 auto 30px auto;
  }
}

@media only screen and (max-width: 1100px) {
  .container {
    padding: 0 100px;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 920px) {
  .container {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 865px) {
  .header .menu {
    display: none;
  }
  .menu-btn {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .header__inner {
    height: 51px;
  }
  .logo__img {
    width: 125px;
    height: 21px;
  }
  .header .btn {
    font-size: 14px;
    width: 80px;
    height: 35px;
  }
  .header__button-list {
    gap: 10px;
  }
  .menu-btn {
    width: 30px;
    height: 20px;
  }
  .menu-btn[aria-expanded='true']::before {
    transform: rotate(45deg) translateY(7px) translateX(5px);
  }

  .menu-btn[aria-expanded='true'] span {
    opacity: 0;
  }

  .menu-btn[aria-expanded='true']::after {
    transform: rotate(-45deg) translateY(-7px) translateX(5px);
  }
  .hero__title {
    font-size: 39px;
    line-height: 49px;
  }
  .hero__text {
    font-size: 16px;
    line-height: 23px;
  }
  .hero__img {
    width: 100%;
  }
  .advantages__list {
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .advantages__title {
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .advantages__title {
    font-size: 31px;
    line-height: 49px;
  }
}

@media only screen and (max-width: 500px) {
  .hero__title {
    font-size: 34px;
    line-height: 44px;
  }
  .hero__text {
    font-size: 14px;
    line-height: 18px;
  }
  .hero__btn-link {
    flex-direction: column;
    gap: 20px;
  }
  .hero__link {
    margin-left: 30px;
  }
}

@media only screen and (max-width: 400px) {
  .container {
    padding: 0 10px;
  }
  .logo__img {
    width: 84px;
    height: 14px;
  }
  .header .btn {
    font-size: 12px;
    width: 70px;
    height: 25px;
  }
  .menu-btn {
    margin-right: 10px;
  }
  .hero__title {
    font-size: 28px;
    line-height: 38px;
  }
  .hero__text {
    font-size: 12px;
    line-height: 16px;
  }
  .hero__btn {
    height: 45px;
  }
}
  body {
    font-size: 14px;
    line-height: 24px;
  }
